.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section{
  flex:1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
  margin-top: 3rem;
}

@media only screen and (max-width: 730px){
  .container section{
    display: block;
    margin: auto;
    margin-top: 5rem;
   max-width: 60%;
  }
}

@media only screen and (max-width: 430px){
  .container section{
       max-width: 90%;
  }
}